.header {
  position: relative;
  box-shadow: 0 0.15rem 0.15rem #BDBDBD;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.header__nav__ctn-left {
  display: flex;
  align-items: center;
}
.header__nav__ctn-left__ctn-img {
  width: 4rem;
}
.header__nav__ctn-left__ctn-img__img {
  margin: 0 auto;
  padding: 0.5em;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-img__img__hamburger {
  display: block;
}
.header__nav__ctn-left__ctn-img__img__X {
  display: none;
}
.header__nav__ctn-left__ctn-returnHome {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-returnHome__icon-H {
  margin-left: 1rem;
  padding: 0.3em 0.5em;
  font-family: "Archivo";
  font-size: 1.25em;
  box-shadow: 0 0.1em 0.15em lightgray, -0.1em 0.1em 0.5em lightgray, 0.1em 0.1em 0.5em lightgray;
}
.header__nav__ctn-left__ctn-returnHome__title {
  margin-left: 1rem;
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.header__nav__ctn-middle {
  width: 100%;
  position: absolute;
  top: 4.1rem;
  left: 0;
  background-color: #FFFFFF;
}
.header__nav__ctn-middle__menu {
  display: none;
  flex-direction: column;
  list-style: none;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
}
.header__nav__ctn-middle__menu__option {
  margin-left: 1.5rem;
  padding: 1.15em 0;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-middle__menu__option:hover {
  color: #BDBDBD;
}
.header__nav__ctn-right {
  display: flex;
  align-items: center;
}
.header__nav__ctn-right__img {
  margin-right: 1rem;
  padding: 0.5em;
  cursor: pointer;
}

.footer__ctn-main {
  padding: 4em 1em 1em;
  background-image: url("./src/imgIcon/footerBackground.png"), url("../../imgIcon/footerBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__ctn-main__ctn-title {
  display: flex;
  align-items: center;
}
.footer__ctn-main__ctn-title__icon-H {
  padding: 0.4em 0.6em;
  font-family: "Archivo";
  font-size: 2.75em;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.footer__ctn-main__ctn-title__title {
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__ctn-main__text {
  margin: 3rem 0 0;
  font-family: "Archivo";
  font-size: 1em;
  line-height: 1.5em;
  color: #777777;
}
.footer__ctn-main__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}
.footer__ctn-main__nav__img {
  padding: 0.75em;
  cursor: pointer;
}
.footer__ctn-main__nav__img:hover {
  background-color: #BEAD8E;
}
.footer__ctn-main__services {
  margin-top: 3rem;
}
.footer__ctn-main__services__title {
  margin-bottom: 1rem;
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__services__list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  text-align: left;
}
.footer__ctn-main__services__list__option {
  padding: 1em 0;
  font-family: "Roboto";
  list-style: none;
  color: #777777;
}
.footer__ctn-main__contact {
  margin-top: 3rem;
}
.footer__ctn-main__contact__title {
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-entry {
  position: relative;
  margin-top: 4rem;
  padding: 0em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}
.footer__ctn-main__contact__ctn-entry__img {
  display: inline-block;
  vertical-align: top;
  padding-top: 0em;
  width: auto;
  height: auto;
  max-width: 32.5%;
  max-height: same-as-width;
}
.footer__ctn-main__contact__ctn-entry__ctn-info {
  display: inline-block;
  margin-left: 1rem;
  max-width: 60%;
}
.footer__ctn-main__contact__ctn-entry__ctn-info__title {
  margin-bottom: 0rem;
  font-family: "Old Standard TT";
  font-size: 1.4em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-entry__ctn-info__text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.footer__ctn-main__contact__ctn-entry__img-arrow {
  position: absolute;
  top: 50%;
  left: 17.5rem;
}
.footer__credits {
  margin-top: 1rem;
  padding: 1em;
  font-family: "Roboto";
  background-color: #F8F8F8;
}
.footer__credits__ctn-terms-policy {
  margin-top: 1rem;
}
.footer__credits__ctn-terms-policy__terms {
  display: inline-block;
}
.footer__credits__ctn-terms-policy__separator {
  display: inline-block;
  margin: 0 0.75rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.footer__credits__ctn-terms-policy__policy {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.about__intro {
  padding: 4em 1em 0;
  background-color: #333333;
}
.about__intro__minor-title {
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.25em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__intro__mayor-title {
  margin-top: 1rem;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 300;
  line-height: 1.15em;
  color: #FFFFFF;
}
.about__intro__location {
  margin: 2rem 0 0 auto;
  padding: 1em 0;
  text-align: center;
  width: 10rem;
  background-color: #FFFFFF;
}
.about__intro__location__previus-location {
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
.about__intro__location__separator {
  display: inline-block;
  margin: 0 0.25rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.about__intro__location__actual-location {
  display: inline-block;
  font-family: "Archivo";
  font-weight: 700;
  color: #BEAD8E;
  cursor: pointer;
}
.about__introduction {
  position: relative;
  margin-top: 4rem;
  padding: 0 1em;
  text-align: center;
}
.about__introduction__video {
  width: 100%;
  height: 20rem;
}
.about__introduction__text {
  margin-top: 2rem;
  font-family: "Old Standard TT";
  font-size: 1.8em;
}
.about__beneficits {
  padding: 0 1em;
  text-align: center;
}
.about__beneficits__ctn-entry {
  margin-top: 3rem;
  padding: 1em;
  display: inline-block;
  width: 49%;
  max-width: 15rem;
  vertical-align: top;
}
.about__beneficits__ctn-entry__img {
  padding: 1em;
  width: 75%;
  height: auto;
  cursor: pointer;
}
.about__beneficits__ctn-entry__text {
  white-space: nowrap;
  font-family: "Archivo";
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.about__beneficits__ctn-entry:hover {
  background-color: #BEAD8E;
}
.about__restaurant {
  margin: 4rem 0;
  padding: 0 2em;
}
.about__restaurant__img {
  width: 100%;
  height: auto;
}
.about__restaurant__title-photo {
  margin-top: 1.5rem;
  font-family: "Archivo";
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #777777;
}
.about__restaurant__title-info {
  margin-top: 2rem;
  font-family: "Old Standard TT";
  font-size: 2.5em;
  font-weight: 400;
  color: #000000;
}
.about__restaurant__info {
  margin-top: 1.5rem;
  font-family: "Archivo";
  line-height: 1.75em;
  color: #777777;
}
.about__restaurant__btn {
  margin-top: 2rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.75em 2.5em;
  border: none;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.about__facilities {
  padding: 2em 2em 5em;
  text-align: center;
  background-color: #222222;
  text-align: left;
}
.about__facilities__title-section {
  font-family: "Archivo";
  font-size: 0.75em;
  font-size: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #FFFFFF;
}
.about__facilities__title-intro {
  margin: 1rem 0 2rem;
  font-family: "Old Standard TT";
  font-size: 3em;
  font-weight: 400;
  color: #FFFFFF;
}
.about__facilities__ctn-slider {
  position: relative;
  padding: 1em 1em 3em;
  text-align: left;
  background-color: #292929;
}
.about__facilities__ctn-slider__img-selectStars {
  margin-top: 4rem;
}
.about__facilities__ctn-slider__img-numberSlider {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.about__facilities__ctn-slider__title {
  margin-top: 1rem;
  font-family: "Old Standard TT";
  font-size: 2em;
  font-weight: 400;
  color: #FFFFFF;
}
.about__facilities__ctn-slider__text {
  margin-top: 1rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75em;
  color: #FFFFFF;
}
.about__facts {
  margin-top: 2rem;
  padding: 1em;
  text-align: left;
}
.about__facts__title-section {
  font-family: "Archivo";
  font-size: 1em;
  font-size: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #777777;
}
.about__facts__title-intro {
  margin: 1rem 0 0 0;
  font-family: "Old Standard TT";
  font-size: 4em;
  font-weight: 400;
  color: #000000;
}
.about__facts__ctn-entry {
  position: relative;
  margin-top: 2rem;
  padding: 1em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}
.about__facts__ctn-entry__img {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.75em;
  width: auto;
  height: auto;
  max-width: 32.5%;
  max-height: same-as-width;
}
.about__facts__ctn-entry__ctn-info {
  display: inline-block;
  margin-left: 1rem;
  max-width: 60%;
}
.about__facts__ctn-entry__ctn-info__title {
  margin-bottom: 0rem;
  font-family: "Old Standard TT";
  font-size: 4em;
  font-weight: 300;
}
.about__facts__ctn-entry__ctn-info__text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.about__facts__ctn-entry__img-arrow {
  position: absolute;
  top: 50%;
  left: 17.5rem;
}
.about__facts__img {
  margin: 4rem 0;
  width: 100%;
  height: auto;
}

.swiper__about__facilities .swiper-pagination-bullet {
  background-color: #BEAD8E;
}
.swiper__about__room .swiper-pagination-bullet {
  background-color: #BEAD8E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=aboutStyles.css.map */