.home {

    &__intro {
        @include introPageIndex;

        &__btn {

            &__tour {
                @include defaultButton
            }

            &__learn {
                @include defaultButton($border: 1px solid $color-borderButton, $backgroundColor: $color-mediumBrown)
            }
        }
    }

    &__availability {
        padding: 3em 1em;
        background-color: $color-darkBrown;

        &__title {
            font-family: $font-roboto;
            font-size: 1.25em;
            font-weight: 700;
            color: $color-white;
        }

        &__btn-check {
            @include defaultButton
        }
    }
}