.header {
  position: relative;
  box-shadow: 0 0.15rem 0.15rem #BDBDBD;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.header__nav__ctn-left {
  display: flex;
  align-items: center;
}
.header__nav__ctn-left__ctn-img {
  width: 4rem;
}
.header__nav__ctn-left__ctn-img__img {
  margin: 0 auto;
  padding: 0.5em;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-img__img__hamburger {
  display: block;
}
.header__nav__ctn-left__ctn-img__img__X {
  display: none;
}
.header__nav__ctn-left__icon-H {
  margin-left: 1rem;
  padding: 0.3em 0.5em;
  font-family: "Archivo";
  font-size: 1.25em;
  box-shadow: 0 0.1em 0.15em lightgray, -0.1em 0.1em 0.5em lightgray, 0.1em 0.1em 0.5em lightgray;
}
.header__nav__ctn-left__title {
  margin-left: 1rem;
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.header__nav__ctn-middle {
  width: 100%;
  position: absolute;
  top: 4.1rem;
  left: 0;
  background-color: #FFFFFF;
}
.header__nav__ctn-middle__menu {
  display: none;
  flex-direction: column;
  list-style: none;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
}
.header__nav__ctn-middle__menu__option {
  margin-left: 1.5rem;
  padding: 1.15em 0;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-middle__menu__option:hover {
  color: #BDBDBD;
}
.header__nav__ctn-right {
  display: flex;
  align-items: center;
}
.header__nav__ctn-right__img {
  margin-right: 1rem;
  padding: 0.5em;
  cursor: pointer;
}

.footer__ctn-main {
  padding: 2em 1em 1em;
  background-image: url("D:/Varios-PC/Educacion/TrainingOxygen/Temario/Practicas/Hotel Miranda/src/imgIcon/footerBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__ctn-main__ctn-title {
  display: flex;
  align-items: center;
}
.footer__ctn-main__ctn-title__icon-H {
  padding: 0.4em 0.6em;
  font-family: "Archivo";
  font-size: 2.75em;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.footer__ctn-main__ctn-title__title {
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__ctn-main__text {
  margin: 3rem 0 0;
  font-family: "Archivo";
  font-size: 1em;
  line-height: 1.5em;
  color: #777777;
}
.footer__ctn-main__nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 3rem;
}
.footer__ctn-main__nav__img {
  cursor: pointer;
}
.footer__ctn-main__services {
  margin-top: 3rem;
}
.footer__ctn-main__services__title {
  margin-bottom: 1rem;
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__services__list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  text-align: left;
}
.footer__ctn-main__services__list__option {
  padding: 1em 0;
  font-family: "Roboto";
  list-style: none;
  color: #777777;
}
.footer__ctn-main__contact {
  margin-top: 2rem;
}
.footer__ctn-main__contact__title {
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-contact {
  margin-top: 2rem;
}
.footer__ctn-main__contact__ctn-contact__img {
  display: inline-block;
}
.footer__ctn-main__contact__ctn-contact__ctn-info {
  display: inline-block;
  margin-left: 1rem;
}
.footer__ctn-main__contact__ctn-contact__ctn-info__title {
  font-family: "Old Standard TT";
  font-size: 1.4em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-contact__ctn-info__number {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.footer__credits {
  padding: 1em;
  font-family: "Roboto";
  background-color: #F8F8F8;
}
.footer__credits__ctn-terms-policy {
  margin-top: 1rem;
}
.footer__credits__ctn-terms-policy__terms {
  display: inline-block;
}
.footer__credits__ctn-terms-policy__separator {
  display: inline-block;
  margin: 0 0.75rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.footer__credits__ctn-terms-policy__policy {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.home__intro {
  padding: 4em 1em;
  background-color: #333333;
}
.home__intro__minor-title {
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.25em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.home__intro__mayor-title {
  margin-top: 1rem;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 300;
  line-height: 1.15em;
  color: #FFFFFF;
}
.home__intro__btn--tour {
  margin-top: 2rem;
  padding: 1.75em 2.5em;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border: 1px solid #767676;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.home__intro__btn--learn {
  margin-top: 2rem;
  padding: 1.75em 2.5em;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border: 1px solid #767676;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #333333;
}
.home__availability {
  padding: 3em 1em;
  background-color: #222222;
}
.home__availability__title {
  font-family: "Roboto";
  font-size: 1.25em;
  font-weight: 700;
  color: #FFFFFF;
}
.home__availability__btn-check {
  margin-top: 2rem;
  padding: 1.75em 2.5em;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border: 1px solid #767676;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #BEAD8E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=indexStyles.css.map */