@import '../../globalStyles/mixin/introSection.scss';

@mixin facilities ($padding: 2em,
    $introSectionTextAlign: left,
    $facilitiesBackgroundColor: $color-darkBrown,
    $ctnSliderBackgroundColor: $color-darkBrown2,
    $letterTitleIntroAndTitleText: $color-white,
    $letterTitleSectionAndText: $color-white) {

    padding: $padding;
    text-align: center;
    background-color: $facilitiesBackgroundColor;

    @include introSection($textAlign: $introSectionTextAlign,
        $marginTitleIntro: 1rem 0 2rem,
        $fontSizeTitleSection: 0.75em,
        $colorTitleSection: $letterTitleSectionAndText,
        $fontSizeTitleIntro: 3em,
        $colorTitleIntro: $letterTitleIntroAndTitleText);

    &__ctn-slider {
        position: relative;
        padding: 1em 1em 3em;
        text-align: left;
        background-color: $ctnSliderBackgroundColor;

        &__img-selectStars {
            margin-top: 4rem;
        }

        &__img-numberSlider {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &__title {
            margin-top: 1rem;
            font-family: $font-oldStandardTT;
            font-size: 2em;
            font-weight: 400;
            color: $letterTitleIntroAndTitleText;
        }

        &__text {
            margin-top: 1rem;
            font-family: $font-archivo;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.75em;
            color: $letterTitleSectionAndText;
        }
    }
}