@mixin defaultButton($sidePadding: 2.5em, $border: none, $textColor: $color-white, $backgroundColor: $color-lightBrown) {
    margin-top: 2rem;
    font-family: $font-archivo;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    cursor: pointer;

    padding: 1.75em $sidePadding;
    border: $border;
    color: $textColor;
    background-color: $backgroundColor;
}

@mixin introSeparator ($separatorDistanceRem: 0rem) {
    display: inline-block;
    margin: 0 $separatorDistanceRem;
    height: 0.9rem;
    border-left: 2px solid $color-black;
}

@mixin introPageIndex () {
    padding: 4em 1em;
    background-color: $color-mediumBrown;

    &__minor-title {
        font-family: $font-archivo;
        font-size: 0.75em;
        letter-spacing: 0.25em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-white;
    }

    &__mayor-title {
        margin-top: 1rem;
        font-family: $font-oldStandardTT;
        font-size: 3.5em;
        font-weight: 300;
        line-height: 1.15em;
        color: $color-white;
    }
}

@mixin introPage ($widthContainer: 10rem, $separatorDistanceRem: 0rem) {
    padding: 4em 1em 0;
    background-color: $color-mediumBrown;

    &__minor-title {
        font-family: $font-archivo;
        font-size: 0.75em;
        letter-spacing: 0.25em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-white;
    }

    &__mayor-title {
        margin-top: 1rem;
        font-family: $font-oldStandardTT;
        font-size: 3.5em;
        font-weight: 300;
        line-height: 1.15em;
        color: $color-white;
    }

    &__location {
        margin: 2rem 0 0 auto;
        padding: 1em 0;
        text-align: center;
        width: $widthContainer;
        background-color: $color-white;

        &__previus-location {
            display: inline-block;
            text-decoration: none;
            font-family: $font-archivo;
            font-weight: 700;
            color: $color-black;
            cursor: pointer;
        }

        &__separator {
            @include introSeparator($separatorDistanceRem)
        }

        &__actual-location {
            display: inline-block;
            font-family: $font-archivo;
            font-weight: 700;
            color: $color-lightBrown;
            cursor: pointer;
        }
    }
}

@mixin contact ($marginTop: 0rem, $padding: 0em, $paddingTopImg: 0em, $marginTitleText: 0rem, $titleSize: 1.4em) {

    &__ctn-entry {
        position: relative;
        margin-top: $marginTop;
        padding: $padding;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain;

        &__img {
            display: inline-block;
            vertical-align: top;
            padding-top: $paddingTopImg;
        }

        &__ctn-info {
            display: inline-block;
            margin-left: 1rem;
            max-width: 75%;

            &__title {
                margin-bottom: $marginTitleText;
                font-family: $font-oldStandardTT;
                font-size: $titleSize;
                font-weight: 300;
            }

            &__text {
                font-family: $font-roboto;
                font-size: 1em;
                font-weight: 400;
                color: $color-textGray;
            }
        }

        &__img-arrow {
            position: absolute;
            top: 50%;
            left: 17.5rem;
        }
    }
}

@mixin introSection ($marginTitleIntro: 1rem 0 0 0, $fontSizeTitleSection: 1em, $colorTitleSection: $color-textGray, $fontSizeTitleIntro: 4em, $colorTitleIntro: $color-black) {

    &__title-section {
        font-family: $font-archivo;
        font-size: $fontSizeTitleSection;
        font-size: 700;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        color: $colorTitleSection;
    }

    &__title-intro {
        margin: $marginTitleIntro;
        font-family: $font-oldStandardTT;
        font-size: $fontSizeTitleIntro;
        font-weight: 400;
        color: $colorTitleIntro;
    }
}

@mixin roomInfo () {

    &__ctn-img {
        position: relative;

        &__img {
            width: 100%;
            height: auto;
        }

        &__ctn-options {
            position: absolute;
            padding: 0.5em 1.2em;
            width: fit-content;
            left: 50%;
            transform: translate(-50%, -60%);
            white-space: nowrap;
            box-shadow: 0 0.0.25em 0.025em $color-shading, // bottom
                -0.01em 0.01em 0.05em $color-shading, // left
                0.01em 0.01em 0.05em $color-shading; // right
            background-color: $color-white;

            &__img {
                padding: 0.5em 0.5em;
                transform: scale(1.25);
                cursor: pointer;
            }
        }
    }

    &__ctn-info {
        margin-top: 3.5rem;
        padding: 0 1.5em 2em;
        text-align: center;

        &__title {
            font-family: $font-oldStandardTT;
            font-size: 1.75em;
            font-weight: 400;
            color: $color-darkBrown;
        }

        &__text {
            margin: 1rem 0;
            font-family: $font-roboto;
            color: $color-textGray;
        }

        &__price {
            display: inline-block;
            margin-right: 0.75rem;
            font-family: $font-archivo;
            font-size: 1.2em;
            font-weight: 700;
            color: $color-lightBrown;
        }

        &__link-room {
            display: inline-block;
            margin-left: 0.75rem;
            font-family: $font-archivo;
            font-size: 1.2em;
            font-weight: 700;
            text-decoration: none;
            color: $color-textLightGray;
            cursor: pointer;
        }
    }

}

@mixin listAmenities () {

    &__list-beneficits {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
        row-gap: 0.75rem;
        margin-top: 2rem;
        padding: 0 1em;
        text-align: left;

        &__option {
            margin-left: 1.5rem;
            padding-left: 0.5em;
            font-family: $font-roboto;
            font-size: 1em;
            font-weight: 500;
            color: $color-textGray;

            &--air-conditioner {
                list-style-image: url('../../imgIcon/list-airConditioner.png');
            }

            &--breakfast {
                list-style-image: url('../../imgIcon/list-breakfast.png');
            }

            &--cleaning {
                list-style-image: url('../../imgIcon/list-cleaning.png');
            }

            &--grocery {
                list-style-image: url('../../imgIcon/list-grocery.png');
            }

            &--shop-near {
                list-style-image: url('../../imgIcon/list-singleBed.png');
            }

            &--high-speed-wifi {
                list-style-image: url('../../imgIcon/list-highSpeedWifi.png');
            }

            &--kitchen {
                list-style-image: url('../../imgIcon/list-kitchen.png');
            }

            &--shower {
                list-style-image: url('../../imgIcon/list-shower.png');
            }

            &--single-bed {
                list-style-image: url('../../imgIcon/list-singleBed.png');
            }

            &--towels {
                list-style-image: url('../../imgIcon/list-towels.png');
            }
        }
    }
}