@mixin defaultButton($sidePadding: 2.5em, $border: none, $textColor: $color-white, $backgroundColor: $color-lightBrown) {
    margin-top: 2rem;
    font-family: $font-archivo;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    cursor: pointer;

    padding: 1.75em $sidePadding;
    border: $border;
    color: $textColor;
    background-color: $backgroundColor;
}

@mixin introSeparator ($separatorDistanceRem: 0rem) {
    display: inline-block;
    margin: 0 $separatorDistanceRem;
    height: 0.9rem;
    border-left: 2px solid $color-black;
}

@mixin introPageIndex () {
    padding: 4em 1em;
    background-color: $color-mediumBrown;

    &__minor-title {
        font-family: $font-archivo;
        font-size: 0.75em;
        letter-spacing: 0.25em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-white;
    }

    &__mayor-title {
        margin-top: 1rem;
        font-family: $font-oldStandardTT;
        font-size: 3.5em;
        font-weight: 300;
        line-height: 1.15em;
        color: $color-white;
    }
}

@mixin introPage ($separatorDistanceRem: 0rem) {
    padding: 4em 1em 0;
    background-color: $color-mediumBrown;

    &__minor-title {
        font-family: $font-archivo;
        font-size: 0.75em;
        letter-spacing: 0.25em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-white;
    }

    &__mayor-title {
        margin-top: 1rem;
        font-family: $font-oldStandardTT;
        font-size: 3.5em;
        font-weight: 300;
        line-height: 1.15em;
        color: $color-white;
    }

    &__location {
        margin: 2rem 0 0 auto;
        padding: 1em 0;
        text-align: center;
        width: 10rem;
        background-color: $color-white;

        &__previus-location {
            display: inline-block;
            text-decoration: none;
            font-family: $font-archivo;
            font-weight: 700;
            color: $color-black;
            cursor: pointer;
        }

        &__separator {
            @include introSeparator($separatorDistanceRem)
        }

        &__actual-location {
            display: inline-block;
            font-family: $font-archivo;
            font-weight: 700;
            color: $color-lightBrown;
            cursor: pointer;
        }
    }
}

@mixin contact ($marginTop: 0rem, $marginTitleText: 0rem) {

    &__title {
        font-family: $font-oldStandardTT;
        font-size: 1.5em;
        font-weight: 300;
    }

    &__ctn-contact {
        margin-top: $marginTop;

        &__img {
            display: inline-block;
            vertical-align: top;
        }

        &__ctn-info {
            display: inline-block;
            margin-left: 1rem;
            max-width: 75%;

            &__title {
                margin-bottom: $marginTitleText;
                font-family: $font-oldStandardTT;
                font-size: 1.4em;
                font-weight: 300;
            }

            &__text {
                font-family: $font-roboto;
                font-size: 1em;
                font-weight: 400;
                color: $color-textGray;
            }
        }
    }
}