$color-white: #FFFFFF;
$color-shading: lightgray;
$color-lightBrown: #BEAD8E;
$color-mediumBrown: #333333;
$color-darkBrown: #222222;
$color-borderButton: #767676;
$color-textGray: #777777;
$color-backgroundGray: #F8F8F8;

$font-archivo: 'Archivo';
$font-oldStandardTT: 'Old Standard TT';
$font-roboto: 'Roboto';