.header {

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 4rem;

        &__container-left {
            display: flex;
            align-items: center;

            &__img {
                margin: 0 1rem;
                padding: 0.5em;
                cursor: pointer;
            }

            &__icon-H {
                margin-left: 1rem;
                padding: 0.3em 0.5em;
                font-family: $font-archivo;
                font-size: 1.25em;
                box-shadow: 0 0.10em 0.15em $color-shading, // bottom
                    -0.1em 0.10em 0.5em $color-shading, // left
                    0.1em 0.10em 0.5em $color-shading; // right
            }

            &__title {
                margin-left: 1rem;
                font-family: $font-archivo;
                font-size: 0.75em;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-weight: 400;
            }
        }

        &__container-right {
            display: flex;
            align-items: center;

            &__img {
                margin-right: 1rem;
                padding: 0.5em;
                cursor: pointer;
            }
        }
    }
}

.footer {

    &__container-main {
        padding: 2em 1em 1em;
        background-image: url("D:/Varios-PC/Educacion/TrainingOxygen/Temario/Practicas/Hotel%20Miranda/src/imgWeb/footerBackground.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__container-title {
            display: flex;
            align-items: center;

            &__icon-H {
                padding: 0.4em 0.6em;
                font-family: $font-archivo;
                font-size: 2.75em;
                color: $color-white;
                background-color: $color-lightBrown;
            }

            &__title {
                margin-left: 1.5rem;
                font-family: $font-archivo;
                font-size: 1.5em;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-weight: 400;
            }
        }

        &__text {
            margin: 3rem 0 0;
            font-family: $font-archivo;
            font-size: 1em;
            line-height: 1.5em;
            color: $color-textGray;
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin-top: 3rem;

            &__img {
                cursor: pointer;
            }
        }

        &__services {
            margin-top: 3rem;

            &__title {
                margin-bottom: 1rem;
                font-family: $font-oldStandardTT;
                font-size: 1.5em;
                font-weight: 300;
            }

            &__list {
                columns: 2;
                text-align: left;

                &__option {
                    padding: 1em 0;
                    font-family: $font-roboto;
                    list-style: none;
                    color: $color-textGray;
                }
            }
        }

        &__contact {
            margin-top: 2rem;

            &__title {
                font-family: $font-oldStandardTT;
                font-size: 1.5em;
                font-weight: 300;
            }

            &__container-contact {
                margin-top: 2rem;

                &__img {
                    display: inline-block;
                }

                &__container-info {
                    display: inline-block;
                    margin-left: 1rem;

                    &__title {
                        font-family: $font-oldStandardTT;
                        font-size: 1.4em;
                        font-weight: 300;
                    }

                    &__number {
                        font-family: $font-roboto;
                        font-size: 1em;
                        font-weight: 400;
                        color: $color-textGray;
                    }
                }
            }

        }
    }

    &__credits {
        padding: 1em;
        font-family: $font-roboto;
        background-color: $color-backgroundGray;

        &__container-terms-policy {
            margin-top: 1rem;

            &__terms {
                display: inline-block;
            }

            &__policy {
                display: inline-block;
            }
        }
    }

}