@import './_globalVars.scss';
@import './_misins.scss';
@import './_layout.scss';

@import '../htmls/home/_home.scss';
@import '../htmls/rooms/_rooms.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}