.contact {

    &__intro {
        padding: 4em 1em 0;
        @include introSection($fontSizeMinorTitle: 0.75em,
            $fontSizeMayorTitle: 3.5em,
            $colorMinorTitle: $color-white,
            $colorMayorTitle: $color-white,
            $backgroundColor: $color-mediumBrown);
        @include pageLocation($separatorDistanceRem: 0.25rem);

        @include sidePaddingForDesktop();

        @media only screen and (min-width: 1000px) {
            padding-top: 8em;
        }
    }

    &__ctn-contacts {
        margin: 4rem 0;
        padding: 0 2em;

        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-around;
        }

        &__ctn-entry {

            &--01 {
                background-image: url('../../media/img/01.png')
            }

            &--02 {
                background-image: url('../../media/img/02.png')
            }

            &--03 {
                background-image: url('../../media/img/03.png')
            }
        }

        @include contact($marginTop: 5rem,
            $padding: 2.5em 0,
            $marginTitleText: 1rem);

        @media only screen and (min-width: 1000px) {
            @include contact($marginTop: 5rem,
                $padding: 2.5em 0,
                $marginTitleText: 1rem,
                $titleSize: 1em,
                $textSize: 0.75em);
        }

        @include sidePaddingForDesktop;
    }

    &__img {
        padding: 0 1em;
        width: 100%;
        height: auto;

        @include sidePaddingForDesktop;
    }

    &__ctn-data {
        margin: 4rem 0;
        padding: 0 1em;

        &__ctn-entry {
            position: relative;

            &__data {
                margin: 1rem 0;
                padding: 1.25em 1.5em 1.25em 2.5em;
                width: 100%;
                vertical-align: top;
                font-family: $font-roboto;
                font-size: 1.1em;
                border: none;
                outline: none;
                background-color: $color-backgroundGray;
            }

            &__img {
                position: absolute;
                top: 2.5rem;
                left: 1rem;
                transform: scale(1.25);
                pointer-events: none;
            }
        }

        &__ctn-btn {
            text-align: center;

            &__btn {
                @include defaultButton(7.5em);
            }
        }

        @include sidePaddingForDesktop;
    }

}