@import '../../styles/globalVars.scss';
@import '../../styles/layout.scss';

@import '../../styles/mixin/introSection.scss';
@import '../../styles/mixin/pageLocation.scss';
@import '../../styles/mixin/contact.scss';
@import '../../styles/mixin/defaultButton.scss';

@import 'contact.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}