.home {

    &__intro {
        // @include introPage($padding: 4em 1em);
        @include introPageIndex;

        &__btn {

            &__tour {
                @include defaultButton
            }

            &__learn {
                @include defaultButton($border: 1px solid $color-borderButton, $backgroundColor: $color-mediumBrown)
            }
        }
    }

    &__availability {
        padding: 1em 1em 3em;
        background-color: $color-darkBrown;

        &__title {
            margin: 2rem 0 1rem;
            font-family: $font-roboto;
            font-size: 1.25em;
            font-weight: 700;
            color: $color-white;
        }

        &__ctn-date {
            position: relative;

            &__pick-date {
                padding: 1.25em 2em 1em;
                width: 100%;
                font-family: $font-archivo;
                font-size: 1em;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: $color-lightBrown;
                outline: none;
                color: $color-mediumBrown2;
                background-color: $color-darkBrown;
            }

            &__pick-date input {
                position: relative;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: auto;
                height: auto;
                background: transparent;
                cursor: pointer;
            }

            &__img {
                position: absolute;
                top: 1.25rem;
                left: 0.25rem;
                transform: scale(1.25);
                pointer-events: none;
            }
        }

        &__btn-check {
            @include defaultButton;
            margin-top: 3rem;
        }
    }

    &__about-us {
        margin-top: 4rem;
        padding: 1em;

        @include introSection($marginTitleIntro: 2rem 0 0, $fontSizeTitleIntro: 3.5em);

        &__text {
            margin-top: 1.5rem;
            font-family: $font-archivo;
            line-height: 1.75em;
            color: $color-textGray;
        }

        &__btn {
            @include defaultButton($sidePadding: 4em);
        }
    }

    &__about-us-info {

        @include aboutUsInfo();
    }

    &__about-us-info2 {

        @include aboutUsInfo($backgroundColor: $color-darkBrown, $textColor: $color-white);
    }

    &__room {
        padding: 0 1em;
        text-align: center;

        @include introSection($textAlign: center, $marginTitleIntro: 1rem 0, $fontSizeTitleIntro: 3.5em);

        @include roomInfo($imgPadding: 2em 0, $optionsCtnPositionY: 7.5%, $marginCtnInfo: 0);
    }

    &__about-us-info3 {
        margin-top: 1.5rem;
        padding: 3em 1em;
        background-color: $color-darkBrown;

        @include introSection($fontSizeTitleSection: 0.8em, $colorTitleSection: $color-lightBrown, $fontSizeTitleIntro: 3.5em, $colorTitleIntro: $color-white);

        &__text {
            margin: 1rem 0 2rem;
            font-family: $font-roboto;
            line-height: 1.5em;
            color: $color-textLightGray2;
        }

        @include listAmenities;

        &__video {
            width: 100%;
            height: 20rem;
        }

        &__btn {
            @include defaultButton ($sidePadding: 4em);
        }
    }

    &__facilities {
        @include facilities($introSectionTextAlign: center,
            $facilitiesBackgroundColor: $color-white,
            $ctnSliderBackgroundColor: $color-white,
            $letterTitleIntroAndTitleText: $color-darkBrown,
            $letterTitleSectionAndText: $color-textGray);
    }

    &__foods {
        position: relative;
        padding: 10em 1em 0;
        overflow-x: hidden;
        @include introSection($fontSizeTitleIntro: 3.5em);

        &__img {
            position: absolute;
            right: -4.5rem;
            bottom: 77.5%;
            transform: scale(0.6);
        }

        &__ctn-meals {
            @include contact($marginTop: 4rem, $imgWidthHeight: 7rem);
        }
    }

    &__imgs {
        margin: 5rem 0;
        padding: 0 1em;
        width: 100%;
        height: auto;
    }

    &__stats {
        margin: 2rem 0 4rem;
        text-align: center;
        background-color: $color-darkBrown;

        &__entry {
            padding: 2em 0;

            &__ctn-stat {

                &__number {
                    display: inline-block;
                    font-family: $font-roboto;
                    font-size: 3em;
                    color: $color-white;
                }

                &__plus {
                    font-size: 1em;
                }
            }

            &__text {
                font-family: $font-roboto;
                font-size: 1em;
                font-weight: 700;
                color: $color-textGray2;
            }
        }
    }

}



.swiper {

    &__home__room {
        position: relative;

        .swiper-button-prev {
            position: absolute;
            top: 9.5rem;
            // top: 50%;
            // transform: translate(-50%, -50%);
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-black;
            background-color: $color-white;
        }

        .swiper-button-prev::after {
            font-size: 1rem;
        }

        .swiper-button-next {
            position: absolute;
            top: 9.5rem;
            // top: 50%;
            // transform: translate(-50%, -50%);
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-white;
            background-color: $color-lightBrown;
        }

        .swiper-button-next::after {
            font-size: 1rem;
        }
    }

    &__home__facilities {

        .swiper-pagination-bullet {
            background-color: $color-lightBrown;
        }
    }

    &__home__foods {
        position: relative;

        .swiper-slide-active {
            padding-bottom: 5em;
        }

        .swiper-button-prev {
            position: absolute;
            top: 36rem;
            // right: 14rem;
            right: 2.5rem !important;
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-black;
            background-color: $color-backgroundGray;
        }

        .swiper-button-prev::after {
            font-size: 1rem;
        }

        .swiper-button-next {
            position: absolute;
            top: 36rem;
            right: 0.5rem;
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-white;
            background-color: $color-lightBrown;
        }

        .swiper-button-next::after {
            font-size: 1rem;
        }
    }

    &__home__imgs {

        .swiper-pagination-bullet {
            background-color: $color-lightBrown;
        }
    }

}