.home {

    &__intro {
        padding: 4em 1em;
        @include introSection($marginMayorTitle: 2rem 0 0,
            $fontSizeMinorTitle: 0.85em,
            $fontSizeMayorTitle: 3.5em,
            $colorMinorTitle: $color-white,
            $colorMayorTitle: $color-white,
            $backgroundColor: $color-mediumBrown);

        &__btn {

            &__tour {
                @include defaultButton;
            }

            &__learn {
                @include defaultButton($border: 1px solid $color-borderButtonBrown, $backgroundColor: $color-mediumBrown)
            }
        }

        @include sidePaddingForDesktop();

        @media only screen and (min-width: 1000px) {
            padding-top: 8em;
        }
    }

    &__availability {
        padding: 1em $spaceSideDesktop 3em;
        background-color: $color-darkBrown;

        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
        }

        &__ctn-date {
            position: relative;

            &__title {
                margin: 2rem 0 1rem;
                font-family: $font-roboto;
                font-size: 1.25em;
                font-weight: 700;
                color: $color-white;
            }

            &__pick-date {
                padding: 1.25em 2em 1em;
                width: 100%;
                font-family: $font-archivo;
                font-size: 1em;
                border-top: none;
                border-right: none;
                border-left: none;
                border-color: $color-lightBrown;
                outline: none;
                color: $color-mediumBrown2;
                background-color: $color-darkBrown;
            }

            &__pick-date input {
                position: relative;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: auto;
                height: auto;
                background: transparent;
                cursor: pointer;
            }

            &__img {
                position: absolute;
                top: 3.75rem;
                left: 0.25rem;
                transform: scale(1.25);
                pointer-events: none;

                @media only screen and (min-width: 1000px) {
                    top: 5.75rem;
                }
            }
        }

        &__btn-check {
            @include defaultButton;
            margin-top: 3rem;
        }
    }

    &__about-us {
        margin-top: 4rem;
        padding: 1em;

        @include introSection($marginMayorTitle: 2rem 0 0,
            $fontSizeMayorTitle: 3.5em);

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }

        &__text {
            margin-top: 1.5rem;
            font-family: $font-archivo;
            line-height: 1.75em;
            color: $color-textGray;
        }

        &__btn {
            @include defaultButton($sidePadding: 4em);
        }
    }

    &__about-us-info {

        @include aboutUsInfo();

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }
    }

    &__about-us-info2 {

        @include aboutUsInfo($backgroundColor: $color-darkBrown, $textColor: $color-white);

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }
    }

    &__room {
        padding: 0 1em;
        text-align: center;

        @include introSection($textAlign: center, $marginMayorTitle: 1rem 0, $fontSizeMayorTitle: 3.5em);

        @include roomInfo($imgPadding: 2em 0, $optionsCtnPositionY: 7.5%, $marginCtnInfo: 0);

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }
    }

    &__about-us-info3 {
        margin-top: 1.5rem;
        padding: 3em $spaceSideDesktop;
        background-color: $color-darkBrown;

        @include introSection($fontSizeMinorTitle: 0.8em,
            $fontSizeMayorTitle: 3.5em,
            $colorMinorTitle: $color-lightBrown,
            $colorMayorTitle: $color-white,
            $backgroundColor: $color-mediumBrown);

        &__text {
            margin: 1rem 0 2rem;
            font-family: $font-roboto;
            line-height: 1.5em;
            color: $color-textLightGray2;
        }

        @include listAmenities;

        &__video {
            width: 100%;
            height: 20rem;
        }

        &__btn {
            @include defaultButton ($sidePadding: 4em);
        }
    }

    &__facilities {
        @include facilities($introSectionTextAlign: center,
            $facilitiesBackgroundColor: $color-white,
            $ctnSliderBackgroundColor: $color-white,
            $colorLetterMayorTitleAndTitleText: $color-darkBrown,
            $colorLetterMinorTitleAndText: $color-textGray);

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }
    }

    &__foods {
        position: relative;
        padding: 10em 1em 0;
        overflow-x: hidden;
        @include introSection($fontSizeMayorTitle: 3.5em);

        @media only screen and (min-width: 1000px) {
            padding-left: $spaceSideDesktop;
            padding-right: $spaceSideDesktop;
        }

        &__img {
            position: absolute;
            right: -4.5rem;
            bottom: 77.5%;
            transform: scale(0.6);
        }

        &__ctn-meals {
            @include contact($marginTop: 4rem,
                $imgWidthHeight: 7rem,
                $marginCtnInfo: 1rem 0 0 1rem,
                $colorText: $color-darkBrown);
        }
    }

    &__imgs {
        margin: 5rem 0;
        padding: 0 1em;
        width: 100%;
        height: auto;

        @media only screen and (min-width: 1000px) {
            width: 75%;
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }
    }

    &__stats {
        margin: 2rem 0 4rem;
        text-align: center;
        background-color: $color-darkBrown;

        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
            padding-left: $spaceSideDesktop;
            padding-right: $spaceSideDesktop;
        }

        &__entry {
            padding: 2em 0;

            &__ctn-stat {

                &__number {
                    display: inline-block;
                    font-family: $font-roboto;
                    font-size: 3em;
                    color: $color-white;
                }

                &__plus {
                    font-size: 1em;
                }
            }

            &__text {
                font-family: $font-roboto;
                font-size: 1em;
                font-weight: 700;
                color: $color-textGray2;
            }
        }
    }

}



.swiper {

    &__home__room {
        @include sliderButtons($prevTop: (var(--swiper-navigation-top-offset, 35%)),
            $nextTop: (var(--swiper-navigation-top-offset, 35%)));
    }

    &__home__facilities {

        .swiper-pagination-bullet {
            background-color: $color-lightBrown;
        }
    }

    &__home__foods {
        @include sliderButtons($paddingSlider: 0 0 5em,
            $prevTop: 36rem,
            $prevRight: 2.5rem,
            $nextTop: 36rem,
            $nextRight: 0.5rem);
    }

    &__home__imgs {

        .swiper-pagination-bullet {
            background-color: $color-lightBrown;
        }
    }

}