@import '../../styles/globalVars.scss';
@import '../../styles/layout.scss';

@import '../../styles/mixin/introSection.scss';
@import '../../styles/mixin/defaultButton.scss';
@import '../../styles/mixin/aboutUsInfo.scss';
@import '../../styles/mixin/roomInfo.scss';
@import '../../styles/mixin/listAmenities.scss';
@import '../../styles/mixin/facilities.scss';
@import '../../styles/mixin/contact.scss';
@import '../../styles/mixin/sliderButtons.scss';

@import 'home.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}