.offers {

    &__intro {
        @include introPage($separatorDistanceRem: 0.25rem);
    }

    &__entry {
        margin: 2rem 1rem;
        box-shadow: 0 0.10em 0.15em $color-shading, // bottom
            -0.1em 0.10em 0.5em $color-shading, // left
            0.1em 0.10em 0.5em $color-shading; // right

        &__ctn-img {
            position: relative;
            font-family: $font-archivo;
            // text-shadow:
            //     -1px 1px 0 $color-black,
            //     1px 1px 0 $color-black,
            //     1px -1px 0 $color-black,
            //     -1px -1px 0 $color-black;

            &__img {
                width: 100%;
                height: auto;
            }

            &__ctn-original-price {
                position: absolute;
                bottom: 3.5rem;
                right: 1rem;
                color: $color-lightBrown;

                &__number {
                    display: inline-block;
                    font-size: 1.25em;
                    text-decoration: line-through;
                    text-decoration-thickness: 1px;
                }

                &__text {
                    display: inline-block;
                    font-size: 0.75em;
                    text-decoration: line-through;
                    text-decoration-thickness: 1px;
                }
            }

            &__ctn-discounted-price {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                color: $color-textPink;

                &__number {
                    display: inline-block;
                    font-size: 1.75em;
                }

                &__text {
                    display: inline-block;
                    font-size: 0.75em;
                }
            }
        }

        &__ctn-info {
            margin-top: 1.5rem;
            padding: 0 1em;

            @include introSection($fontSizeTitleIntro: 2.75em);

            &__text {
                margin-top: 1rem;
                font-family: $font-roboto;
                line-height: 1.5em;
                color: $color-textGray;
            }

            @include listAmenities;

            &__btn {
                margin: 1rem 1rem 3rem;
                @include defaultButton ($sidePadding: 4em);
            }
        }
    }

    &__popular {
        padding: 3em 0;
        text-align: center;
        background-color: $color-darkBrown;

        @include introSection($textAlign: center, $marginTitleIntro: 1rem 0 2rem, $fontSizeTitleSection: 0.75em, $colorTitleSection: $color-lightBrown, $fontSizeTitleIntro: 2em, $colorTitleIntro: $color-white);

        &__ctn-room {
            margin: 0 1rem;
            background-color: $color-white;

            @include roomInfo;
        }
    }

}



.swiper {

    &__offers__room {
        position: relative;

        .swiper-button-prev {
            position: absolute;
            top: 9.5rem;
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-black;
            background-color: $color-white;
        }

        .swiper-button-prev::after {
            font-size: 1rem;
        }

        .swiper-button-next {
            position: absolute;
            top: 9.5rem;
            padding: 1em 1.35em;
            background-size: 50px;
            color: $color-white;
            background-color: $color-lightBrown;
        }

        .swiper-button-next::after {
            font-size: 1rem;
        }
    }
}