.offers {

    &__intro {
        padding: 4em 1em 0;
        @include introSection($fontSizeMinorTitle: 0.75em,
            $fontSizeMayorTitle: 3.5em,
            $colorMinorTitle: $color-white,
            $colorMayorTitle: $color-white,
            $backgroundColor: $color-mediumBrown);
        @include pageLocation($separatorDistanceRem: 0.25rem);

        @include sidePaddingForDesktop();

        @media only screen and (min-width: 1000px) {
            padding-top: 8em;
        }
    }

    &__entry {
        margin: 2rem 1rem;
        box-shadow: 0 0.10em 0.15em $color-shading, // bottom
            -0.1em 0.10em 0.5em $color-shading, // left
            0.1em 0.10em 0.5em $color-shading; // right

        @media only screen and (min-width: 1000px) {
            margin-left: $spaceSideDesktop;
            margin-right: $spaceSideDesktop;
        }

        &__ctn-img {
            position: relative;
            font-family: $font-archivo;

            &__img {
                width: 100%;
                height: auto;
            }

            &__ctn-original-price {
                position: absolute;
                bottom: 3.5rem;
                right: 1rem;
                color: $color-lightBrown;

                &__number {
                    display: inline-block;
                    font-size: 1.25em;
                    text-decoration: line-through;
                    text-decoration-thickness: 1px;
                }

                &__text {
                    display: inline-block;
                    font-size: 0.75em;
                    text-decoration: line-through;
                    text-decoration-thickness: 1px;
                }
            }

            &__ctn-discounted-price {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                color: $color-textPink;

                &__number {
                    display: inline-block;
                    font-size: 1.75em;
                }

                &__text {
                    display: inline-block;
                    font-size: 0.75em;
                }
            }
        }

        &__ctn-info {
            margin-top: 1.5rem;
            padding: 0 1em;

            @include introSection($fontSizeMayorTitle: 2.75em);

            @media only screen and (min-width: 1000px) {
                margin-left: 7.5%;
                margin-right: 7.5%;
            }

            &__text {
                margin-top: 1rem;
                font-family: $font-roboto;
                line-height: 1.5em;
                color: $color-textGray;
            }

            @include listAmenities;

            &__ctn-btn {
                @media only screen and (min-width: 1000px) {
                    text-align: center;
                }

                &__btn {
                    margin: 1rem 1rem 3rem;
                    @include defaultButton ($margin: 2rem 1rem 1rem, $sidePadding: 4em);
                }
            }
        }
    }

    &__popular {
        padding: 3em 0;
        text-align: center;
        background-color: $color-darkBrown;

        @include introSection($textAlign: center, $marginMayorTitle: 1rem 0 2rem, $fontSizeMinorTitle: 0.75em, $colorMinorTitle: $color-lightBrown, $fontSizeMayorTitle: 2em, $colorMayorTitle: $color-white);

        &__ctn-room {
            margin: 0 1rem;
            background-color: $color-white;

            @include roomInfo;
        }
    }

}



.swiper {

    &__offers__room {
        @include sliderButtons($prevTop: (var(--swiper-navigation-top-offset, 25%)),
            $nextTop: (var(--swiper-navigation-top-offset, 25%)));
    }
}