@import '../../globalStyles/_globalVars.scss';
@import '../../globalStyles/_layout.scss';

@import '../../globalStyles/mixin/introSection.scss';
@import '../../globalStyles/mixin/roomInfo.scss';

@import 'rooms.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}