.header {
  position: relative;
  box-shadow: 0 0.15rem 0.15rem #BDBDBD;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 1em 0.75em;
}
.header__nav__ctn-left {
  display: inline-block;
}
.header__nav__ctn-left__ctn-img {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
}
.header__nav__ctn-left__ctn-img__img {
  margin: 0 auto 0 0;
  padding: 0.5em;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-img__img__hamburger {
  display: block;
}
.header__nav__ctn-left__ctn-img__img__X {
  display: none;
}
.header__nav__ctn-left__ctn-returnHome {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-returnHome__icon-H {
  padding: 0.3em 0.5em;
  display: inline-block;
  vertical-align: middle;
  font-family: "Archivo";
  font-size: 1.25em;
  box-shadow: 0 0.1em 0.15em lightgray, -0.1em 0.1em 0.5em lightgray, 0.1em 0.1em 0.5em lightgray;
}
.header__nav__ctn-left__ctn-returnHome__title {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.header__nav__ctn-middle {
  width: 100%;
  position: absolute;
  top: 4.675rem;
  left: 0;
  background-color: #FFFFFF;
}
.header__nav__ctn-middle__menu {
  display: none;
  flex-direction: column;
  list-style: none;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
}
.header__nav__ctn-middle__menu__option {
  padding: 1.15em;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-middle__menu__option:hover {
  color: #BDBDBD;
}
.header__nav__ctn-right__img {
  padding: 0.4em;
  cursor: pointer;
}

.footer__ctn-main {
  padding: 4em 1em 1em;
  background-image: url("../../media/icon/footerBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__ctn-main__ctn-title {
  display: flex;
  align-items: center;
}
.footer__ctn-main__ctn-title__icon-H {
  padding: 0.4em 0.6em;
  font-family: "Archivo";
  font-size: 2.75em;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.footer__ctn-main__ctn-title__title {
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__ctn-main__text {
  margin: 3rem 0 0;
  font-family: "Archivo";
  font-size: 1em;
  line-height: 1.5em;
  color: #777777;
}
.footer__ctn-main__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}
.footer__ctn-main__nav__img {
  padding: 0.75em;
  cursor: pointer;
}
.footer__ctn-main__nav__img:hover {
  background-color: #BEAD8E;
}
.footer__ctn-main__services {
  margin-top: 3rem;
}
.footer__ctn-main__services__title {
  margin-bottom: 1rem;
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__services__list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  text-align: left;
}
.footer__ctn-main__services__list__option {
  padding: 1em 0;
  font-family: "Roboto";
  list-style: none;
  color: #777777;
}
.footer__ctn-main__contact {
  margin-top: 3rem;
}
.footer__ctn-main__contact__title {
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-entry {
  position: relative;
  margin-top: 4rem;
  padding: 0em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}
.footer__ctn-main__contact__ctn-entry__img {
  display: inline-block;
  vertical-align: top;
  padding-top: 0em;
  width: auto;
  height: auto;
  max-width: 32.5%;
  max-height: same-as-width;
}
.footer__ctn-main__contact__ctn-entry__ctn-info {
  display: inline-block;
  margin: 0 0 0 1rem;
  max-width: 60%;
}
.footer__ctn-main__contact__ctn-entry__ctn-info__title {
  margin-bottom: 0rem;
  font-family: "Old Standard TT";
  font-size: 1.4em;
  font-weight: 300;
}
.footer__ctn-main__contact__ctn-entry__ctn-info__text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.footer__ctn-main__contact__ctn-entry__img-arrow {
  position: absolute;
  top: 50%;
  left: 17.5rem;
}
.footer__credits {
  margin-top: 1rem;
  padding: 1em;
  font-family: "Roboto";
  background-color: #F8F8F8;
}
.footer__credits__ctn-terms-policy {
  margin-top: 1rem;
}
.footer__credits__ctn-terms-policy__terms {
  display: inline-block;
}
.footer__credits__ctn-terms-policy__separator {
  display: inline-block;
  margin: 0 0.75rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.footer__credits__ctn-terms-policy__policy {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.roomDetails__intro {
  padding: 4em 1em 0;
  text-align: left;
  background-color: #333333;
}
.roomDetails__intro__minor-title {
  font-family: "Archivo";
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.roomDetails__intro__mayor-title {
  margin: 1rem 0 0;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
  color: #FFFFFF;
}
.roomDetails__intro__location {
  margin: 2rem 0 0 auto;
  padding: 1em 0;
  text-align: center;
  width: 12.5rem;
  background-color: #FFFFFF;
}
.roomDetails__intro__location__previus-location {
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
.roomDetails__intro__location__separator {
  display: inline-block;
  margin: 0 0.25rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.roomDetails__intro__location__actual-location {
  display: inline-block;
  font-family: "Archivo";
  font-weight: 700;
  color: #BEAD8E;
  cursor: pointer;
}
.roomDetails__availability {
  padding: 3em 1em;
  text-align: left;
  background-color: #FFFFFF;
}
.roomDetails__availability__minor-title {
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #777777;
}
.roomDetails__availability__mayor-title {
  margin: 1rem 0 0;
  font-family: "Old Standard TT";
  font-size: 2.25em;
  font-weight: 400;
  color: #000000;
}
.roomDetails__availability__ctn-price {
  margin: 1.5rem 0;
  font-family: "Archivo";
  color: #BEAD8E;
}
.roomDetails__availability__ctn-price__number {
  display: inline-block;
  font-size: 2em;
  text-decoration-thickness: 1px;
}
.roomDetails__availability__ctn-price__text {
  display: inline-block;
  font-size: 1em;
  text-decoration-thickness: 1px;
}
.roomDetails__availability__img {
  width: 100%;
  height: auto;
}
.roomDetails__availability__ctn-check {
  margin-top: 2rem;
  padding: 1em;
  font-family: "Archivo";
  font-weight: 700;
}
.roomDetails__availability__ctn-check__title {
  text-align: center;
  font-size: 1.25em;
}
.roomDetails__availability__ctn-check__check-in-out {
  margin: 2rem 0;
  font-size: 0.9em;
}
.roomDetails__availability__ctn-check__ctn-date {
  position: relative;
}
.roomDetails__availability__ctn-check__ctn-date__pick-date {
  padding: 1.25em 3.5em 1.25em 1.75em;
  width: 100%;
  font-family: "Archivo";
  font-size: 1em;
  border: none;
  outline: none;
  color: #777777;
  background-color: #F8F8F8;
}
.roomDetails__availability__ctn-check__ctn-date__pick-date input {
  position: relative;
}
.roomDetails__availability__ctn-check__ctn-date input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: transparent;
  cursor: pointer;
}
.roomDetails__availability__ctn-check__ctn-date__img {
  position: absolute;
  top: 1.35rem;
  right: 1.5rem;
}
.roomDetails__availability__ctn-check__ctn-btn {
  text-align: center;
}
.roomDetails__availability__ctn-check__ctn-btn__btn {
  margin-top: 2rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.75em 2em;
  border: none;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.roomDetails__info-text {
  padding: 0 1.5em;
  font-family: "Roboto";
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  color: #777777;
}
.roomDetails__amenities__title {
  margin-top: 2rem;
  padding: 0 1em;
  font-family: "Old Standard TT";
  font-size: 1.75em;
  font-weight: 400;
}
.roomDetails__amenities__list-beneficits {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  row-gap: 0.75rem;
  margin-top: 2rem;
  padding: 0 1em;
  text-align: left;
}
.roomDetails__amenities__list-beneficits__option {
  margin-left: 1.5rem;
  padding-left: 0.5em;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 500;
  color: #777777;
}
.roomDetails__amenities__list-beneficits__option--air-conditioner {
  list-style-image: url("../../media/icon/list-airConditioner.png");
}
.roomDetails__amenities__list-beneficits__option--breakfast {
  list-style-image: url("../../media/icon/list-breakfast.png");
}
.roomDetails__amenities__list-beneficits__option--cleaning {
  list-style-image: url("../../media/icon/list-cleaning.png");
}
.roomDetails__amenities__list-beneficits__option--grocery {
  list-style-image: url("../../media/icon/list-grocery.png");
}
.roomDetails__amenities__list-beneficits__option--shop-near {
  list-style-image: url("../../media/icon/list-singleBed.png");
}
.roomDetails__amenities__list-beneficits__option--high-speed-wifi {
  list-style-image: url("../../media/icon/list-highSpeedWifi.png");
}
.roomDetails__amenities__list-beneficits__option--kitchen {
  list-style-image: url("../../media/icon/list-kitchen.png");
}
.roomDetails__amenities__list-beneficits__option--shower {
  list-style-image: url("../../media/icon/list-shower.png");
}
.roomDetails__amenities__list-beneficits__option--single-bed {
  list-style-image: url("../../media/icon/list-singleBed.png");
}
.roomDetails__amenities__list-beneficits__option--towels {
  list-style-image: url("../../media/icon/list-towels.png");
}
.roomDetails__person-profile {
  margin: 5rem 0 2rem;
  padding: 0 1em;
  text-align: center;
}
.roomDetails__person-profile__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.roomDetails__person-profile__title {
  margin-top: 1rem;
  font-family: "Old Standard TT";
  font-size: 2em;
  font-weight: 400;
  color: #222222;
}
.roomDetails__person-profile__subtitle {
  margin-top: 1rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #BEAD8E;
}
.roomDetails__person-profile__text {
  margin-top: 1.75rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #777777;
}
.roomDetails__cancellation {
  margin-top: 5rem;
  padding: 0 1em;
}
.roomDetails__cancellation__title {
  margin-top: 1rem;
  padding-bottom: 0.25em;
  font-family: "Old Standard TT";
  font-size: 2em;
  font-weight: 400;
  border-bottom: 1px solid #F1F1F1;
  color: #222222;
}
.roomDetails__cancellation__text {
  margin-top: 1.75rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #777777;
}
.roomDetails__related-rooms {
  margin: 3rem 0 0;
  padding: 0 1em;
}
.roomDetails__related-rooms__title {
  margin: 1rem 0 2rem;
  padding-bottom: 0.25em;
  font-family: "Old Standard TT";
  font-size: 2em;
  font-weight: 400;
  border-bottom: 1px solid #F1F1F1;
  color: #222222;
}
.roomDetails__related-rooms__ctn-img {
  position: relative;
}
.roomDetails__related-rooms__ctn-img__img {
  padding: 0em;
  width: 100%;
  height: auto;
}
.roomDetails__related-rooms__ctn-img__ctn-options {
  position: absolute;
  padding: 0.5em 1.2em;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -60%);
  white-space: nowrap;
  box-shadow: 0 0 0.25em 0.025em lightgray, -0.01em 0.01em 0.05em lightgray, 0.01em 0.01em 0.05em lightgray;
  background-color: #FFFFFF;
}
.roomDetails__related-rooms__ctn-img__ctn-options__img {
  padding: 0.5em 0.5em;
  transform: scale(1.25);
  cursor: pointer;
}
.roomDetails__related-rooms__ctn-info {
  margin: 3.5rem 0 0;
  padding: 0 1.5em 2em;
  text-align: center;
}
.roomDetails__related-rooms__ctn-info__title {
  font-family: "Old Standard TT";
  font-size: 1.75em;
  font-weight: 400;
  color: #222222;
}
.roomDetails__related-rooms__ctn-info__text {
  margin: 1rem 0;
  font-family: "Roboto";
  color: #777777;
}
.roomDetails__related-rooms__ctn-info__price {
  display: inline-block;
  margin-right: 0.75rem;
  font-family: "Archivo";
  font-size: 1.2em;
  font-weight: 700;
  color: #BEAD8E;
}
.roomDetails__related-rooms__ctn-info__link-room {
  display: inline-block;
  margin-left: 0.75rem;
  font-family: "Archivo";
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  color: #BDBDBD;
  cursor: pointer;
}

.swiper__roomDetails__room {
  position: relative;
}
.swiper__roomDetails__room .swiper-slide-active {
  padding: 0em;
}
.swiper__roomDetails__room .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 25%);
  right: none;
  bottom: none;
  left: none;
  padding: 1em 1.35em;
  background-size: 50px;
  color: #000000;
  background-color: #FFFFFF;
}
.swiper__roomDetails__room .swiper-button-prev::after {
  font-size: 1rem;
}
.swiper__roomDetails__room .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 25%);
  right: none;
  bottom: none;
  left: none;
  padding: 1em 1.35em;
  background-size: 50px;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.swiper__roomDetails__room .swiper-button-next::after {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=roomDetailsStyles.css.map */