.home {

    &__intro {
        padding: 3em 1em;
        background-color: $color-mediumBrown;

        &__minor-title {
            font-family: $font-archivo;
            font-size: 0.75em;
            letter-spacing: 0.25em;
            line-height: 1.5em;
            text-transform: uppercase;
            color: $color-white;
        }

        &__mayor-title {
            margin-top: 2rem;
            font-family: $font-oldStandardTT;
            font-size: 3.5em;
            font-weight: 300;
            color: $color-white;
        }

        &__btn {
            &--tour {
                @include defaultButton($color-lightBrown, $color-white)
            }

            &--learn {
                @include defaultButton($color-mediumBrown, $color-white)
            }
        }
    }

    &__availability {
        padding: 3em 1em;
        background-color: $color-darkBrown;

        &__title {
            font-family: $font-roboto;
            font-size: 1.25em;
            font-weight: 700;
            color: $color-white;
        }

        &__btn-check {
            @include defaultButton($color-lightBrown, $color-white)
        }
    }
}